$bg: #1C1B1A;
$bg-alt: #282726;
$fg: #DAD8CE;
$fg-alt: #B7B5AC;
$muted: #878580;
$accent: #CF6A4C;
$error: #D14D41;

$radius: 8px;
$transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

$font-large: 14px;
$icon-size: 12px;
