@use "../../variables.scss" as *;

.Dropdown {
  padding: 15px;
  background-color: $bg;
  border: 2px solid $accent;
  border-top: 0;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}
